[2015-12-03 09:57] yakovkhalinsky opened #1 "Improve README and Documentation"
The documentation and the README needs a bit of improvement.

[2015-12-16 21:58] tennysonholloway opened #2 "internal error 'bz_sha1 did not match data received' on b2.uploadFile"
I'm not sure if this error is the fault of this package, or the b2 API. I'm just trying to upload a file to a bucket, but it seems that it's failing because the sha1 didn't match up with what the server received.

I'm unsure if I am able to provide a sha1, or if the library is doing this for me.

Here is the code:
[code]

[2015-12-16 22:26] yakovkhalinsky commented on #2
Thanks @tennysonholloway for trying out the library.

When I get home from work (~ 8hrs from now), I'll reply with the code snippet I used to read out the file data when I tested the function.

Could just be that the `uploadFile()` is expecting something different in `data`. So it could be just a matter of bad documentation on my part :smiley_cat:

[2015-12-17 11:33] yakovkhalinsky commented on #2
@tennysonholloway when I tested this I use the following:
`var data = fs.readFileSync('/Users/foo/Desktop/test/test.png');`

I passed `data` string in from that.

[2015-12-17 15:17] tennysonholloway commented on #2
Ok, I will try that. I wonder why it doesn't work with the async file read. Oh well (:

Thanks for the responses.

[2015-12-17 16:29] tennysonholloway commented on #2
I found the error. When I passed 'utf8' into `readFile` it doesn't return the raw buffer, it returns an encoded string, which makes the sha1 different. Removing it made my original code work.

[2015-12-17 16:29] #2 closed

[2015-12-17 16:55] tennysonholloway opened #3 "Filename should be URIEncoded"
Per https://www.backblaze.com/b2/docs/string_encoding.html any strings should be URIEncoded.

If you do `b2.uploadFile(...'test file.txt'...);` you receive the error:
[code]
This is because the filename does not get URIEncoded.

(There's probably other areas in this implementation where this happens, too)

[2015-12-17 19:55] yakovkhalinsky commented on #2
Nice! I'll mark this as a question so people can find it in future :+1:

[2015-12-17 19:57] #3 closed

[2015-12-29 22:53] mmccallum opened #5 "Feature Request: X-Bz-Info"
Any plans to support setting X-Bz-Info headers?

Thanks!

[2015-12-30 02:06] yakovkhalinsky commented on #5
Thanks for the suggestion @mmccallum definitely something I would like to add :+1:

I'll have a look at the API docs over the next day or so and see what I can do :dart:

[2015-12-30 02:15] yakovkhalinsky commented on #5
@mmccallum will be adding this in the next few days :+1:

[2016-01-01 04:39] yakovkhalinsky commented on #5
@mmccallum just a quick update.

I've got a PR ready to go, but I am confirming some things with the Backblaze guys as I am having some HTTP 500 errors in certain cases, maybe due to an undocumented character limit.

Once I confirm all these details about these headers I'll merge and publish.

[2016-01-02 11:03] yakovkhalinsky commented on #5
Closing as PR #6 has been merged to master.

Will be in npm registry shortly :dancers:

[2016-01-02 11:03] #5 closed

[2016-01-02 19:23] mmccallum commented on #5
Thanks!  Will give this a try later this week and report any issues.

[2016-01-03 21:58] mmccallum commented on #5
Works like a charm so far!  Thanks.  I think this will help others as well.
I'm going to post another request as well that you may want to add.

[2016-01-03 22:00] mmccallum opened #7 "Return SHA of uploaded file"
Might not be a bad idea to have the SHA that was generated and used for the upload returned.

[2016-01-04 08:43] yakovkhalinsky commented on #7
@mmccallum can do!

I think I could just pass the response JSON back to the success callback of the returned promise, which includes the SHA of the uploaded file.

[2016-01-04 08:44] mmccallum commented on #7
I think that would be a perfect place.

On Monday, January 4, 2016, Yakov Khalinsky <notifications@github.com>
wrote:

[2016-01-04 09:35] yakovkhalinsky commented on #7
@mmccallum I just tested this, looks like my generic request and promise generation is always resolving to the JSON body response from the B2 API.

So the current version should work like so:
[code]

[2016-01-04 09:39] yakovkhalinsky commented on #7
I have some special cases where I post process the responses that require a small change for me to add the B2 JSON response body.

I'm just looking through my code and so far the following resolve with the JSON response body in the success call back in the `.then()`:
 - all bucket operations
 - b2.uploadFile()
 - b2.listFileNames()
 - b2.listFileVersions()
 - b2.hideFile()
 - b2.getFileInfo()
 - b

[2016-01-05 11:17] yakovkhalinsky commented on #7
PR #8 now provides all API responses to success callbacks.

[2016-01-05 11:17] #7 closed

[2016-01-15 05:03] mmccallum opened #9 "delete issue?"
I store files using "folders".  So as an example, my structure looks like this:

<BUCKET>{folder}/{folder}/{file.ext}

When using deletefileversion, I get back the following:
{ code: 'file_not_present',
  message: 'file not present: -K82QoL4BCVSRqv3u3r4%2Fcollages%2Fd3f81d06-973d-4478-d19e-0677d8bdc681.jpg 4_zd55dcf6fe56cedf45d130010_f11275d83e9982f7a_d20160115_m035841_c001_v0001012_t0043',
  stat

[2016-01-15 22:18] yakovkhalinsky commented on #9
thanks for the report @mmccallum I'll have a look at the docs and check this.

I have a feeling that the API says to URL encode the name, but I'll double check this.

[2016-01-15 22:18] yakovkhalinsky commented on #9
For the upload file API is says:
[code]

I'll have a look through how I do this and do a quick test with your example and get to you :+1:

[2016-01-15 22:27] yakovkhalinsky commented on #9
Ok I have reproduced the error. I'll look at fixing it now :dart:

[2016-01-15 22:31] yakovkhalinsky commented on #9
Ok the trouble seems to be that I need to URL encode everything except the `/` in the filename.

Patch coming shortly :+1:

[2016-01-16 00:25] yakovkhalinsky commented on #9
Fix merged, will publish to npm shortly :+1:

[2016-01-16 00:25] #9 closed

[2016-01-16 00:28] mmccallum commented on #9
Thanks!  Won't get a chance to test until next week. Will report if there
are any issues.

Matt

On Friday, January 15, 2016, Yakov Khalinsky <notifications@github.com>
wrote:

[2016-01-16 00:29] yakovkhalinsky commented on #9
No worries :+1:  help to highlight the same problem with the other file functions :dancers:

[2016-02-12 15:58] expertsa opened #12 "Get download url"
Is it possible to get file download url or do I have to download on server and handle downloadUrl my self?

[2016-02-12 21:21] yakovkhalinsky commented on #12
I'm assuming you are wanting the file download URL.

You could do this a few of ways. One way is to use the file's ID or combine both the bucket name and the filename.

First thing you need to do would be to get the base download URL from the auth command.
`b2.auth()`

From the auth response you s:
[code]

You should probably cache this somewhere so you don't need to run `b2.auth()` just to get it

[2016-02-12 21:22] yakovkhalinsky commented on #12
Does that answer your question @expertsa ?

[2016-02-12 21:42] yakovkhalinsky opened #13 "Implement large file API"
Add functionality for large file API

[2016-02-14 00:12] expertsa commented on #12
Thank you very much, it's perfectly clear !

[2016-02-15 14:26] expertsa commented on #12
Sorry to bother you again, do you know why those url are showing me the file instead of downloading it?
I mean I know that right click save as can make it but if I a user wants to download 6 files, it's easier if he just have to click on download rather than right clicking on each files and save as.

I hope it's possible, or maybe this will be possible after Beta.

[2016-02-15 20:24] yakovkhalinsky commented on #12
I'll have a look at how the download URL's work later today and I'll post my
findings here :)

wrote:

instead of downloading it?
I mean I know that right click save as can make it but if I a user wants to
download 6 files, it's easier if he just have to click on download rather than
right clicking on each files and save as.

Reply to this email directly or [view it on GitHub](https://github.com/y

[2016-02-21 06:50] yakovkhalinsky commented on #12
@expertsa as far as I can tell, unless you send the mime type as an octet-stream, the browser will try and open it.

Here is a great article about the HTML5 `download` attribute:
https://davidwalsh.name/download-attribute

That might help you with your problem.

[2016-02-22 11:33] expertsa commented on #12
Hi, thanks, working like a charm with the download attribute.

[2016-03-11 17:13] GoNode5 opened #15 "download binary"
cant get a valid file (test zip and mp3)
[code]
Any idea? thnx

[2016-03-11 23:09] yakovkhalinsky commented on #15
Try tried adding an error function to the `then()` and let me know what error is being returned like this:
[code]

[2016-03-14 09:53] GoNode5 commented on #15
thnx there is no error (1 bucket with 1 file)
- the file is downloaded but double in size
- when I do list.files[1].fileId (invalid non excist file) no error

[code]

[2016-03-15 09:13] yakovkhalinsky commented on #15
Have reproduced the issue you're having.

Not sure what has changed. I will investigate and make a fix soon. :+1:

[2016-03-16 08:42] yakovkhalinsky commented on #15
@GoNode5 managed to track down the issue.

Seems that for binary data the `request` module assumes String data. Good news is the fix will be in shortly :+1:

[2016-03-16 08:43] yakovkhalinsky commented on #15
Ah as it turns out I do this in the by filename function but no in the by id function.

:facepalm:

[2016-03-16 08:50] yakovkhalinsky commented on #15
Going to bump the version and publish to npm in the next few minutes :dart:

[2016-03-16 08:50] #15 closed

[2016-03-16 09:04] yakovkhalinsky commented on #15
@GoNode5 v0.9.11 now on npm, thanks for the report and patience :+1:

[2016-03-16 11:04] GoNode5 commented on #15
no problem at all, its now working :-) thnx

[2016-04-26 01:44] mkpazon opened #17 "Example for uploading an image from a canvas"
I need help uploading an image from a canvas. Right now this is what I have.

[code]

[2016-04-26 02:43] mkpazon commented on #17
Answering my own question:

[code]

[2016-05-06 20:21] tutankhamen-1 opened #18 "Upload progress"
Is there any way to know how much data has been uploaded?

[2016-05-07 00:21] yakovkhalinsky commented on #18
You should see a `contentLength` property in the response of `b2.uploadFile()` which is in bytes

[2016-05-07 06:42] tutankhamen-1 commented on #18
I should have been more specific. I'm trying to monitor it in real time in order to build a progress bar.

[2016-05-07 07:53] yakovkhalinsky commented on #18
Not sure you could do that until the module supports multipart uploading.

The upload is a single request to the B2 service with the whole file.

[2016-09-27 16:16] HeikoMueller opened #19 "SHA1 checksum"
Hi.
I was trying to use the module for uploading files within an Electron app, but when uploading a file, I constantly encountered an issue with the SHA1 checksum:

{code: "bad_request", message: "sha1 is wrong length", status: 400}

Any ideas how to solve that?
Thank's a lot
Heiko

[2016-10-16 15:13] Dayjo commented on #19
Hello,

I'm also having the same issue, I'm also using Electron.

[2017-03-03 22:38] crazyscience commented on #18
PR is on the way, folks.

[2017-03-04 07:21] crazyscience commented on #18
#21 adds support for progress notifications via `deferred.notify()`. If it ever merges in, you'll be able to get upload/download/request progress via the third parameter of `.then()` as such:
[code]

[2017-03-04 07:23] crazyscience commented on #13
@yakovkhalinsky I'll probably put some thought into this in the next week or so.

[2017-03-04 12:28] yakovkhalinsky commented on #18
Good work again from @crazyscience 👍

[2017-03-04 22:37] yakovkhalinsky commented on #13
@crazyscience this is one reason why I love open source 👍

[2017-03-15 01:57] yakovkhalinsky opened #23 "Add newer Node.js version to Travis CI config"

[2017-03-15 03:22] crazyscience commented on #18
The above only worked for v0.9.12 and only worked for download progress reporting. We've changed how progress reporting is handled to take into account both the request (for uploads) and the response (for downloads). As of `v1.0.0`, a callback function can be passed into relevant `b2.method()`s. See the `README` for more information and usage examples. For large, multipart uploads, you will have t

[2017-03-15 03:25] crazyscience opened #24 "Update line 1 of the readme file"
It says the lib doesn't support large file methods.

[2017-03-15 08:19] #13 closed

[2017-03-15 08:19] #23 closed

[2017-03-15 08:19] #24 closed

[2017-03-24 09:29] #12 closed

[2017-03-24 09:32] billouboq opened #26 "[question] Delete all file in folder or starting with /folderName"
Hi,

Sorry to ask this here, but b2 is new so not a lot of people are responding on stackoverflow.

Do you know any solution to delete all files in a folder (so with name starting with "folder/") ?

I guess I have to do a listFile starting with "folderUrl" and then for each file a delete file version call.

[2017-04-23 12:33] yakovkhalinsky commented on #19
Fix coming up shortly 👍

PR soon to be merged

[2017-04-23 12:55] ablankenship10 commented on #17
Looks like this can be closed as its not an issue with the package and OP has provided a nice example of the process.

[2017-04-23 12:58] ablankenship10 commented on #1
Do the promises still work (or only work?) the way as described in the README?

I am using the promises like so that seems to work also:

[code]

[2017-04-23 13:15] yakovkhalinsky commented on #17
Yep thought I'd leave it open for a response 👍

[2017-04-23 13:15] #17 closed

[2017-04-23 13:16] #19 closed

[2017-04-23 13:19] yakovkhalinsky commented on #1
Should do, if the promise ever resolves with an error.

The second arg in the `.then(arg1, arg1)` if a reject is ever called in the promise. It's of course optional.

The `.catch()` is also a feature of the promise, not something I've added in the README.

Might need a more comprehensive example at the top of the README probably to explain this.

[2017-07-06 21:30] felixfong227 opened #31 "400 Missing header: Content-Length when try to upload file"
[code]

[2017-08-18 03:53] mayeaux opened #32 "Use the library with a stream"
There's no docs relating to streams, are they able to be used with this library?

[2017-11-03 22:39] hubpuller opened #33 "Binary file issues - Axios passthrough options not documented"
Related to #1

We ran into an issue where binary downloads were not working.
This can be addressed by adding the responseType attribute as an 'arraybuffer'.
There is no documentation on passing through options to the axios library used

e.g. this is the correct way to download binary files.
[code]

See a stackoverflow answer related to this issue here:
https://stackoverflow.com/questions/41846669/

[2017-11-13 17:51] LovikaJain opened #34 "b2.authorizationToken is null"
Hi I am trying to use backblaze-b2 plugin in my application but when I used b2.authorize() I am getting this error : Error: Invalid authorizationToken
I debugged it and found that b2.authorizationToken is null in utils.js

Could somebody tell me what could have went wrong?

Code :

var B2 = require('backblaze-b2');
// create B2
// create b2 object instance
var b2 = new B2({
    accountId: 'accId',

[2017-11-14 16:11] jaredreich opened #35 "Implement `b2_get_download_authorization` operation"
Hi there @yakovkhalinsky! Thanks so much for your work on this lib!

What are the chances of adding a method for the `b2_get_download_authorization` operation? Looks like it's listed in the API docs, but not available in this lib.

API link: https://www.backblaze.com/b2/docs/b2_get_download_authorization.html

I just did a run-through of all the available operations, and this is the only one that'

[2017-11-14 16:17] jaredreich commented on #34
@LovikaJain you might have to call the authorization method INSIDE whatever other call you are trying to do, in order for it to work. I am having no issues in my project doing it this way.

E.g. (as in the README):
[code]

[2017-11-14 16:19] jaredreich commented on #32
@mayeaux you should be able to use this library with streams. Maybe dig deeper into the Node.js docs, axios (or whatever http library) docs, and B2 API docs.

[2017-11-14 16:20] jaredreich commented on #31
@felixfong227 perhaps try using the Node.js `readFile` instead of `createReadStream`?

[2017-11-14 16:23] jaredreich commented on #26
@billouboq you can get all the files with `listFileNames` (passing the `bucketId` param), then filter those files that start with the `folder_name/` you want, then loop through them and for each one perform the `deleteFileVersion` (passing the `fileId` and `fileName` params)

[2017-11-18 02:33] yakovkhalinsky commented on #35
Thanks @jaredreich for your question.

I'm a bit short on time these days, but I'm happy to take pull requests and open the repo to more contributors 👍

[2017-11-18 02:36] yakovkhalinsky opened #36 "Looking for contributors"
I am open to anyone who would like to contribute, I can add any interested parties to the repo and the npm library.

[2017-11-26 14:43] jaredreich commented on #35
PR: https://github.com/yakovkhalinsky/backblaze-b2/pull/37

[2017-11-26 14:43] jaredreich commented on #35
@yakovkhalinsky PR: https://github.com/yakovkhalinsky/backblaze-b2/pull/37

[2017-11-30 14:25] jaredreich commented on #35
Added in #37

[2017-11-30 14:25] #35 closed

[2017-12-02 04:02] jamiesyme commented on #12
@yakovkhalinsky Are you open to the idea of exposing a function for this? Specifically: https://github.com/yakovkhalinsky/backblaze-b2/blob/master/lib/actions/file.js#L261

The example you gave above isn't very complicated, but it'd be far more convenient to write something like:

[code]

[2017-12-02 04:19] jamiesyme commented on #32
I was curious about using streams as well, and while it seems that axios supports them, I don't think this library does (at least for uploading).

On upload, it tries to [generate a SHA1 hash](https://github.com/yakovkhalinsky/backblaze-b2/blob/master/lib/actions/file.js#L23), but the sha1 library [doesn't seem to support streams](https://github.com/pvorb/node-sha1/blob/master/sha1.js#L7]).

I can

[2017-12-02 04:31] jamiesyme commented on #31
I think passing the `Content-Length` header through `info` is going to create a `X-Bz-Info-Content-Length` header, which probably isn't what you want.

With that said, [`Content-Length` is required](https://www.backblaze.com/b2/docs/b2_upload_file.html) for uploading a file, but [it isn't included](https://github.com/yakovkhalinsky/backblaze-b2/blob/master/lib/actions/file.js#L19) when using this

[2017-12-02 11:13] yakovkhalinsky commented on #32
Interesting discussion, I haven't put much though into it since the inception of this library.

I feel like that last option of providing the hash might be a nicer option, which would result in something less opinionated in terms implementation.

Either way, I'm open to PR's for this feature.

[2017-12-02 18:32] jamiesyme commented on #12
For future reference, the example code for downloading a file by `fileId` in the above comment has a bug in the query string.

The corrected code looks like:

[code]

[2017-12-27 06:58] RyanQuey opened #41 "Retry options already builtin anywhere"
Hello,

Thanks for this project, have used it already with great satisfaction thus far.

I'm wondering though: is there anyway to pass in an option and retry on failure? I'm specifically wanting to
retry once or maybe twice if I get a 503, service_unavailable

[2017-12-27 12:10] yakovkhalinsky commented on #41
Thanks for the question @RyanQuey unfortunately not at this time.

It is something I would like to add in the future though.

[2018-03-22 23:17] #31 closed

[2018-04-27 14:04] jamiesyme opened #43 "filename vs fileName inconsistency"
The method `b2.uploadFile()` seems to use `filename` as an arg, while most (if not all) others like `b2.deleteFileVersion()` use `fileName`.

Perhaps we could change `b2.uploadFile()` to use `fileName` by default, but fallback to `filename` so we don't break the library for everyone?

[2018-04-28 00:10] yakovkhalinsky commented on #43
A valid observation, thank you for the feedback @jamiesyme

[2018-04-29 16:39] jamiesyme commented on #34
Also note that `b2.authorize()` returns a promise, meaning that if you do not `await` the promise before making your next request, you have a race condition.

[2018-05-12 14:26] haywirez commented on #33
@hubpuller Thank you so much, I want going in circles for about an hour. Also relevant to #15

[2018-05-12 14:27] haywirez commented on #15
Important: need to add `'arraybuffer'` as a `responseType` property to make this work as it should. ```

b2.downloadFileById({
    fileId: fileId,
    responseType: 'arraybuffer',
    ...
})
[code]

[2018-05-12 17:34] hubpuller commented on #33
Yes, we ran in a lot of oval shapes while trying to figure this out!  Glad it helped.

[2018-05-13 11:45] yakovkhalinsky commented on #33
#44 from @haywirez has added this to the README, thank you 👍

[2018-06-28 00:06] trevyn opened #45 "Axios default maxBodyLength = 10MB, no way to override"
Looks like the switch to Axios has also limited upload parts to 10MB, since there's no way to access the underlying Axios object to set a larger maxBodyLength.

[2018-07-06 02:55] jamiesyme commented on #45
It looks like the issue was half-fixed with [this](https://github.com/axios/axios/pull/1287) PR, which is merged in axios@0.18.0. This allows us to specify a `maxContentLength` option to axios, and as long as it's large enough, everything is a-okay. In my tests, I just passed the file part size as the `maxContentLength` and that seemed to work.

However, it's only "half-fixed" because you need to

[2018-07-06 11:00] roccomuso commented on #45
I can confirm that with axios@0.18.0 it works.

[2018-10-05 15:20] damianobarbati commented on #45
I currently worked this around with `maxContentLength: Infinity`, anyway:
- shouldn't axios fill `maxContentLength` with actual formData object size? (I'm uploading multipart files)
- shouldn't axios throw error instead of returning an empty/undefined response?

[2018-10-23 22:54] curti55 opened #50 "Socket hang up on getUploadPartUrl"
When uploading large Files i need to get UploadPartUrl for each part / chunk first.

Sending my Chunks like this:
`b2.getUploadPartUrl({fileId:bbFileId}).then(
    function(){
        b2.uploadPart({
            partNumber: chunk.cnt,
            data: chunk.data,
            partSha1: chunk.partSha1,
            uploadUrl: uploadUrl,
            uploadAuthToken: token
        });
    },
    rejec

[2018-10-24 19:17] curti55 commented on #50
Looks like using axios current version (0.18.0) does the trick.
I don't get the error anymore

[2019-01-11 09:37] pkyt commented on #45
One way to configure maxBodyLength in axios

[2019-01-13 03:52] cbess commented on #36
@yakovkhalinsky I'm interested in contributing.

[2019-01-13 08:37] yakovkhalinsky commented on #36
Thanks @cbess can you email me your details at yakov at therocketsurgeon dot com?

[2019-01-16 00:50] odensc commented on #36
I'm up to help as well. I recently signed up to B2 for one of my projects and I'd like to contribute some features such as TypeScript typings.

[2019-01-17 20:58] yakovkhalinsky commented on #36
Just posting in here, I've been in touch with @realhidden who has confirmed they are still interested in helping maintain this package :+1:

[2019-01-17 20:59] yakovkhalinsky commented on #36
I've done a quick wiki page to document how to deal with version bumping for npm publishing:
https://github.com/yakovkhalinsky/backblaze-b2/wiki/Creating-a-new-NPM-release

[2019-01-17 21:01] odensc commented on #18
This should now be supported with `onUploadProgress` so I'll close. Please reopen if this is still an issue.

[2019-01-17 21:01] #18 closed

[2019-01-17 21:07] odensc commented on #26
As @jaredreich said, that's probably the best way to do it! If you have an issues with that method please reopen.

[2019-01-17 21:07] #26 closed

[2019-01-17 21:13] odensc commented on #33
Looks like the readme covers this now, so I'll close the issue. 👍

[2019-01-17 21:13] #33 closed

[2019-01-17 21:15] odensc commented on #34
Yep - you'll have to await the promise returned by `b2.authorize()` before calling any other methods. If there's still an error after that it's likely that you've entered your credentials incorrectly. If you're still having this issue please reopen. :)

[2019-01-17 21:15] #34 closed

[2019-01-17 21:16] odensc commented on #1
Relevant: #53

[2019-01-17 21:34] cbess commented on #43
Good point. Or perhaps they should match nodejs consistency :)

[2019-01-17 21:51] yakovkhalinsky commented on #43
Yeah good question, having a quick look through our functions I can see that our `b2.uploadFile()` takes an object with a `filename` property and everywhere else we use the camel case `fileName`, I vote for keeping `fileName` and fixing instances that use `filename`.

How do you guys feel about that?

[2019-01-17 21:52] yakovkhalinsky commented on #43
On a related note, I think this change should probably go into the next minor release `1.1.0`

[2019-01-17 21:54] yakovkhalinsky commented on #1
I might look at making some nicer docs using GH pages so we can get a proper list of functions, and also add `async/await` as well as traditional `Promise.then().catch()`

Or should we just be documenting examples with `async/await`?

[2019-01-17 21:55] odensc commented on #43
Sounds good to me. I'll make a PR.

[2019-01-17 21:57] cbess commented on #43
make sense

[2019-01-17 21:58] cbess commented on #1
I'd say just using `asyn/await` covers our basis

[2019-01-17 22:11] odensc commented on #1
Agreed - I think we should just use async/await for examples.

[2019-01-18 00:30] odensc opened #56 "Automatically call authorize_account on 401"
Perhaps we should have `backblaze-b2` automatically call `authorize_account` when it encounters a 401 error, or have it as an option at least.

I encountered an issue in a long-running application where after 24 hours all calls stopped working.

https://www.backblaze.com/b2/docs/application_keys.html

It would be nice if the module automatically did this rather than the user having to: 1. Call `au

[2019-01-18 02:10] cbess commented on #56
Seems like a good idea, but that may be a bit tricky to embed it, because it can happen for any call. So we would essentially have do one of the three things you mentioned in the library

[2019-01-18 10:41] Hornobster commented on #56
You just need to check a timestamp before every call. Every time you call authorize() you save a timestamp 24hours ahead which will be checked.

[2019-01-20 11:34] yakovkhalinsky opened #57 "Retag Pull Requests for 1.1.0 release"
@cbess @odensc @realhidden

Just putting this in so we can clean up for an npm release.

I think since we've tagged some PR's already for 1.1.0, we should move those that aren't in 1.0.4 into the 1.1.0 release in preparation for making a changelog and doing the final version bump.

This would go a long way to refresh the package.

[2019-01-20 11:37] #43 closed

[2019-01-20 11:41] odensc commented on #57
Sounds good to me. I've moved the PRs into 1.1.0 so we should be ready to make a changelog. Definitely should get this out soon so the npm package doesn't say last published a year ago :)

[2019-01-20 15:36] cbess commented on #57
@odensc agreed :)

[2019-01-21 14:42] cbess commented on #57
@yakovkhalinsky It doesn't matter much to me, but I'll give it a try.

[2019-01-21 18:52] yakovkhalinsky commented on #57
Cool, closing this issue then, all yours @cbess
Final task is to bump the version and update the change log :+1:

[2019-01-21 18:52] #57 closed

[2019-01-23 23:20] odensc commented on #57
@cbess Any updates? :)

[2019-01-24 04:40] cbess commented on #57
@odensc The goal for me is to handle it over the weekend.

[2019-01-24 11:38] yakovkhalinsky commented on #57
Sounds good @cbess let us know if you need anything :+1:

[2019-01-27 18:01] cbess commented on #57
tagged and npm package released

[2019-01-27 18:02] cbess commented on #57
Soli Deo gloria

[2019-01-28 11:23] yakovkhalinsky commented on #57
Nice one! Thanks again for all your help guys :+1:

[2019-02-12 01:01] Amit-A commented on #36
@yakovkhalinsky I'm also interested in contributing.

[2019-02-12 01:05] Amit-A commented on #41
I think this can be done easily with the [axios-retry](https://github.com/softonic/axios-retry) module. If I can get it to work, I will submit a pull request.

[2019-02-12 01:27] Amit-A commented on #41
[This pull request](https://github.com/yakovkhalinsky/backblaze-b2/pull/61) should do it.

[2019-02-12 19:05] haywirez commented on #41
@Amit-A thanks!

[2019-02-14 09:41] yakovkhalinsky commented on #36
Thanks @Amit-A have replied to your email

[2019-02-14 09:43] yakovkhalinsky commented on #36
@Amit-A once you've accepted on github I will add you in npm :+1:

[2019-02-20 02:56] Amit-A commented on #41
Merged #61 which does this. Will make an NPM release soon as #62 is merged.

[2019-02-20 02:56] #41 closed

[2019-02-20 03:00] Amit-A commented on #45
#62 should fix this - allows access to the underlying axios object

[2019-02-26 03:10] Amit-A commented on #45
#62 merged, fixed.

[2019-02-26 03:10] #45 closed

[2019-03-10 08:27] SayakMukhopadhyay opened #63 "Make providing bucket id optional if auth returns bucket id"
B2 returns the bucket id on authorisation if the auth key is for a particular bucket. Thus, one can store the bucket id in the instance too and use it if bucket id is not passed in a function call.

I am open to implementing this myself. Looking for feedback initially.

[2019-03-12 19:08] cbess commented on #63
Please provide the documentation for this behavior from the B2 API.

[2019-03-13 05:34] SayakMukhopadhyay commented on #63
This is described in https://www.backblaze.com/b2/docs/b2_authorize_account.html under the responses section.
![image](https://user-images.githubusercontent.com/13748882/54255838-aac96800-457f-11e9-8c21-0714dc8cc9d8.png)
![image](https://user-images.githubusercontent.com/13748882/54255853-bf0d6500-457f-11e9-9b84-40c911c78142.png)

[2019-03-18 22:31] burtontanner commented on #56
Im finding that authorize account is not working after I get a 401. In my code I authorize the account every time I do anything. When I get a 401, I have to restart the process to get it to work again. is there any way the module caches the original token?

[2019-05-02 13:45] Hornobster opened #64 "accountId returned from b2_authorize_account shouldn't overwrite the one provided on init"
https://github.com/yakovkhalinsky/backblaze-b2/blob/a13380ba91e436bca0a2ceb7428773f42783912e/lib/utils.js#L54

When authorising the account, this lines overwrites the accountId that was provided as argument on init with the accountId returned from the authorize_account api.

This doesn't work when using other application keys, because the API returns the accountId of the master key and not the one

[2019-05-02 14:00] odensc commented on #64
Good catch, submitted a PR to remove that line: #65. We shouldn't be overwriting any user-provided options, only adding the ones required to use the API.

[2019-05-03 14:44] cbess commented on #64
The problem, if I can recall, is that when using B2 v2 API, you may not use the master key, but the API returns the account ID to use for subsequent API calls. I can provide more detail, but I would stress testing it in both scenarios (using the master key and using other authorized keys, with less privileges)

[2019-05-03 14:50] Hornobster commented on #64
Don't you have to provide the accountId anyways? Why would you need to use the one returned from b2_authorize_account?

[2019-05-03 14:53] cbess commented on #64
If I recall correctly, the one initially provided, which you call the `accountID`, per the docs, is the `applicationKeyId`, which can be a non-master key value. The API then returns a different `accountId` value to use with the subsequent calls.

[2019-05-03 14:54] Hornobster commented on #64
Which doesn't work. You need to provide the applicationKeyId otherwise b2_authorize_account return 401.

[2019-05-03 14:56] cbess commented on #64
Have you used **both** a non-master key and a master key value and gotten the same *doesn't work* behavior?

[2019-05-03 15:01] Hornobster commented on #64
No, I only use non-master keys. Renewing the authorizationToken wouldn't work because accountId was overwritten in the first call to authorize.

[2019-05-04 00:54] cbess commented on #64
I'll point to my previous post:
https://github.com/yakovkhalinsky/backblaze-b2/issues/64#issuecomment-489120296

[2019-05-15 16:53] phil-r opened #66 "Calling authorize second time always fails when application credentials are used"
Calling authorize second time fails when application credentials are used, because `b2.accountId` gets re-written with actual accountId.

Related to #64

[2019-05-15 17:54] phil-r commented on #66
I've submitted a patch for it: #67
Meanwhile you can use `npm i @phil-r/backblaze-b2` with

[code]

[2019-05-25 06:40] DoctorMcKay opened #68 "Allow underscores in upload info headers"
If you try to send an info key that contains an underscore, you get back this error: `Info header keys contain invalid characters: <header>`

Backblaze [suggests](https://www.backblaze.com/b2/docs/b2_upload_file.html) using `X-Bz-Info-src_last_modified_millis` to send the file's last modification time (and in fact the `b2 sync` command in their Python CLI application does this). I had to use `axio

[2019-05-31 12:35] andrelec1 opened #69 "onUploadProgress is never called"
my code look like :
[code]

but i never see the console.log, the onUploadProgress is never trigger ...

[2019-06-03 18:00] davidsonsns commented on #66
waiting for @yakovkhalinsky about your pull @phil-r. Tks

[2019-06-03 18:49] #66 closed

[2019-06-03 18:50] odensc commented on #64
Fixed via #67.

[2019-06-03 18:50] #64 closed

[2019-06-03 19:16] odensc commented on #69
Hi - `onUploadProgress` is provided by Axios, which only supports upload progress in browsers. (see axios/axios#1793)

You could make a (less accurate) progress bar by calculating the percentage of parts uploaded. (e.g. `numParts / numPartsUploaded`)

If you'd like to submit a feature request for this to work in Node, feel free but it's unlikely to be possible without replacing Axios in the librar

[2019-06-03 19:16] #69 closed

[2019-06-07 16:33] LunarFuror commented on #45
I can confirm here that for those of you using putFileContents having an issue here,
await client.putFileContents( globals.GLOBAL_NEXTCLOUD_FOLDER + fileName, file.buffer, {
            overwrite: false,
            maxContentLength: 1024 ** 3
        });

[2019-06-19 22:18] #68 closed

[2019-06-19 22:27] odensc commented on #63
Good idea - a PR would be nice :)

[2019-06-19 22:45] odensc commented on #32
Should be possible now in `v1.4.0` using `contentLength` and `hash`.

[2019-06-19 22:45] #32 closed

[2019-06-20 04:36] SayakMukhopadhyay commented on #63
All right. I will work on this and hopefully will be creating a PR sometime next week.

[2019-07-23 22:16] 2fours commented on #56
+1.

[2019-07-25 23:43] 2fours opened #77 "b2_create_key implementation"
Any chance of getting an implementation for b2_create_key?

[2019-08-14 18:38] ScottChapman opened #79 "listFileVersions missing startFileId"
missing a useful optional field to specify what fileId to start from.

[2019-09-04 09:28] jb33k opened #81 "finishLargeFile() behavior"
Hey, I'm having troubles with `finishLargeFile()` and I was wondering if my structure for `partSha1Array` is wrong. At the moment it's basic array of `[hash1, hash2, ...]` but I can't get any response from `finishLargeFile()` and it doesn't seem to throw errors either.

Any ideas?

[2019-09-05 03:00] cbess commented on #81
Did you supply a `fileId` param in the `args` object?

[2019-09-05 04:46] jb33k commented on #81
@cbess yes.

[2019-09-05 08:14] jb33k commented on #81
I figured this out. The problem was that I had set my chunk size at less than 5MB which, turns out, is the required minimum size for the first part in large upload. However now I'm trying to find out how I can pass the SHA1 hash of the file with large upload. `startLargeUpload()` doesn't seem to pass on `contentSha1` or `hash` parameters.

[2019-10-21 17:22] odensc commented on #77
Implemented by #82.

[2019-10-21 17:22] #77 closed

[2019-10-21 17:32] #36 closed

[2019-10-21 17:32] odensc commented on #79
Fixed by #78.

[2019-10-21 17:32] #79 closed

[2019-12-31 22:00] cdhowie opened #87 "Auto-compute SHA1 sum for streams"
Related to #32. Applies to `uploadPart` and `uploadFile`.

If `hash` is not passed and `data` is a stream, the hash can be computed on the fly and appended to the output, while providing the header `X-Bz-Content-Sha1: hex_digits_at_end`. It would be nice if the client would wrap up this logic itself.

This change is simpler than it seems at first. I wrote the following transform stream that hashes

[2020-01-02 21:18] cdhowie commented on #56
Note that we should handle the case where multiple requests are made in the same tick. We don't want each one generating a new `authorize()` call. In our code, we solve this using [memoizee](https://www.npmjs.com/package/memoizee):

[code]

[2020-01-02 21:22] cdhowie opened #89 "Set maxRedirects:0 on all axios calls"
B2 does not return any redirect codes under any circumstances, so there is no need to handle the redirect case. When uploading a stream, axios will buffer the entire request body if `maxRedirects` is not 0 (the default is 5) so it can correctly handle HTTP codes 307 and 308. When uploading files, this causes axios to hold the entire stream contents in memory to handle a situation that will never o

[2020-01-02 21:56] cbess commented on #89
Good observation. I concur with your conclusion.

[2020-01-03 21:13] cdhowie opened #90 "Add "smart" upload function"
The AWS S3 SDK for JavaScript has an `upload` function that does not correspond to any particular API request. You can give it a buffer or a stream, and it will automatically perform either a single PutObject call or a multi-part upload.

It would be a great benefit to this library to provide something similar. Right now, large file uploads are unnecessarily cumbersome, especially when the input i

[2020-01-05 15:41] cbess commented on #90
I'm definitely in favor of this change. I personally use `joi` in some of my projects as well. `memoizee` seems pretty solid as well. But, adding these would definitely grow the dependency tree. I think your design changes seem fine, but I'd like to see the _final_ implementation (code review).

[2020-01-14 10:06] michel-smarticket opened #91 "Options misssing for the listFileVersions function"
Hello,

I've noticed the prefix and delimiter options are missing from the `listFileVersions` function.
This raises an issue when trying to filter specific files from backblaze.

Proposed change:
[code]

[2020-02-07 17:23] cdhowie commented on #90
I had to take a hiatus from this development but will be back working on it this week.

I am considering introducing another dependency maintained by me as it will simplify much of the logic: it is a function that accepts an iterator or async iterator and returns a promise for the result of invoking a mapper function over each element produced by the iterator. It does this without converting the i

[2020-02-13 03:56] odensc commented on #90
Sounds fine if it's something that would be useful on it's own as a module or is large enough to warrant being separate.. But if it's just a small helper function it'd be better to throw it in this module.

[2020-02-13 04:07] odensc commented on #89
Sounds good. (ref: axios/axios#1045) Feel free to make a PR otherwise I'll get to it eventually.

[2020-02-15 09:55] dcrystalj opened #94 "[Feature request] Add support for copy"
Im missing `copy` and `b2_copy_part` feature
https://www.backblaze.com/b2/docs/b2_copy_file.html

[2020-02-17 21:09] cdhowie commented on #90
I decided not to bring in this other dependency. I might later, but what I have today works (I've tested it against large files/buffers). I'm also not sure what environments are supported by this module (backblaze-b2) and whether they all support ECMAScript's asynchronous iteration feature (`Symbol.asyncIterator`) so I decided not to use this feature after all, at least not yet.

I did bring in on

[2020-02-18 21:16] cdhowie commented on #90
The module is published. Feel free to leave code review comments here, or as issues on the module's repository.

https://www.npmjs.com/package/@gideo-llc/backblaze-b2-upload-any

[2020-02-20 21:16] cdhowie commented on #90
We have been using the module in production for the last few days and have migrated several TB of data successfully, streaming it from an HTTP origin to B2. I have not found any instances of corruption yet. There has been a pretty even mixture of standard and large-file uploads.

[2020-02-23 20:01] cdhowie commented on #89
Submitted #95.

[2020-02-23 20:06] cdhowie commented on #89
It looks like this may not be an issue after all and the PR I submitted may not be necessary. See commit cc519182 which already should handle this problem, so I think this issue and the linked PR can be closed as unnecessary.

I'm not sure yet why we were seeing this buffering in our code. I suspect that we were doing calls against axios directly in some cases and that's where we saw the buffering

[2020-03-06 01:12] odensc commented on #89
@cdhowie Cool, I'll go ahead and close them.

[2020-03-06 01:12] #89 closed

[2020-03-06 01:13] odensc commented on #90
@cdhowie Sorry for the delay, the API looks good but hopefully I can take a look at the code over the weekend.

[2020-03-06 03:42] cdhowie commented on #90
@odensc There's a few things that I may want to rewrite but I haven't had time, and what's there works pretty well.

The main large-file-upload routine is a bit complex. Replacing it with async generators (`async function*`) would significantly improve readability of the source interface code, and -- assuming that we can add `async` as a dependency -- the provided [`mapLimit`](https://caolan.githu

[2020-05-30 16:42] deltamish opened #97 "Question on integration with GraphQL"
How can I integrate the this API with GraphQl. Since node will reside on EC2 If I use getDownlaodAutherization it will be valid only for that id and wont work for client device. Similarly upload url might not work for client or I may be wrong.

Please do advise on how to go about this.

[2020-06-01 01:07] odensc commented on #97
If I understand correctly you want to upload a file to B2 via the client device (browser)? You should be able to simply use `getUploadUrl` and pass the returned URL + auth token to the client.

[2020-06-01 01:41] yakovkhalinsky commented on #97
@deltamish if you want your GraphQL service to be stateless you will need to pass something either in your query or in the header to alllow the authorisation to occur on every request.

The other option is to not include file uploading as a part of your GraphQL and use "classic" style REST just for file uploads.

Since you need to be able to possibly support retries and chunking, it might be wise

[2020-06-03 12:34] deltamish commented on #97
Yeah that's a good suggestion and @odensc the Upload part is good approach. The reason I wanted to push B2 to Graphql server was to abstract it the client/ front end would never know the B2 or which API's being used which means I can swap out the B2 Api's with say S3 and it should still work.

So I just thought there would be a way where I can return the stream returned by download API of B2 and p

[2020-07-11 16:32] RayRemnant commented on #91
I think this is pretty important, I've done the same changes in order to use the listFileVersions as intended.
Without the prefix and delimiter parameters you need additional work to select the versions of a single file.

[2020-08-10 12:01] sell opened #99 "Having some trouble with posting data"
Hey, so I am trying to upload a file but am kind of confused how I will go about it, so I have
[code]
Now, how do I go about uploading a file, because the only other param I see is `fileName`, and not like a specific file or path where I can get the image and upload it, because I have an api and want to post the uploaded users image to backblaze

[2020-09-08 13:30] andresribeiro opened #100 "More operations with the filename without id"
It would be interesting if they heard more operations that could be performed without the file ID, just with the filename, like:

- [ ]  List files by name;
- [ ] Delete a file by name;
- [ ] Take the ID of a file by name;

[2020-09-29 16:22] GSRdevelopment opened #103 "Is there a way to use a download url to download without auth headers?"
I'm working on a 3D model viewer feature for my app and the client side of the application which is written in Reactjs has a component that renders the .obj model and the only way to successfully load a model is to pass a url paramater which can be either a locally stored file in the computer or a download url (this is how I want to tackle it), the thing is that to download files from backblaze cl

[2020-09-29 16:51] odensc commented on #103
You can pass the authorization token from `b2_get_download_authorization` via the query string. E.g.: `https://f345.backblazeb2.com/file/photos/cute/kitten.jpg?Authorization=3_20160803004041_53982a92f631a8c7303e3266_d940c7f5ee17cd1de3758aaacf1024188bc0cd0b_000_20160804004041_0006_dnld`

See: https://www.backblaze.com/b2/docs/b2_download_file_by_name.html

[2020-09-29 16:55] odensc commented on #100
This is more of an issue for the B2 API itself, we can't really provide these features without becoming a higher-level abstraction over the API.

[2020-09-29 16:55] #100 closed

[2020-09-29 17:01] odensc commented on #99
Sorry your question isn't too clear to me... You should just be able to pass your user's image as a Buffer via `data`? What part isn't working?

[2020-09-29 17:02] #97 closed

[2020-11-03 06:58] jlarmstrongiv commented on #90
I just added `@gideo-llc/backblaze-b2-upload-any` to my project and it helped simplify my code a lot.  I would love to see this helpful method added in core 😄

[2020-12-01 17:19] code-504 opened #104 "Blocked by CORS policy"
I put the keys in the app and also in Backblaze bucket i configure cors with all origins and in google console:

`Access to XMLHttpRequest at 'https://api.backblazeb2.com/b2api/v2/b2_authorize_account' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the reques

[2020-12-06 02:48] rickhoro opened #105 "Help needed with use with Typescript"
I've gotten this to work with node and typescript with the associated @types/backblaze-b2 package but I have not been able to figure out how to use the interfaces defined in the index.d.ts file in my node js program. For example, I am trying to define a BucketInfo interface that can be used to extract data from a getBucket() call. In the BucketInfo interface, I would like to define a bucketType: B

[2021-01-06 12:47] auggod opened #107 "1.6.0 not published to npm"
It appears 1.6.0 has not been published yet... Any good reason for this?

[2021-01-06 12:53] odensc commented on #107
Weird I have... no idea, considering I was the one who was supposed to publish that a year ago. I'll look into it, but may just push a 1.7.0 with the latest commits.

[2021-01-09 00:08] odensc commented on #107
Sorry this slipped my mind, 1.6.0 published now

[2021-01-09 00:08] #107 closed

[2021-01-29 18:06] Benny739 opened #108 "axios in package.json in npm package still 0.18"
The axios version in the package.json of the released package is still 0.18. This always leads to npm complaining about security issues. Setting this to 0.21.1 would be cool.

[2021-04-02 10:00] SayakMukhopadhyay commented on #108
Please release the current master to NPM as the existing latest as a vulnerable dependency.

[2021-05-11 20:39] code-504 commented on #104
Use this API in front end doesn't work, is in the back end. I think that one solution is creating funtions in a server like node js funtions and return the data to your front end with JavaScript.

[2021-05-11 21:15] code-504 commented on #104
@pjatx BackBlaze never worked for me on the front end. It's weird because once I saw an example with BackBlaze with JavaScript (I can't remember where from) and it only used JavaScript on the front-end and it worked and also what you comment, BackBlaze API doesn't return the correct headers. The documentation about BackBlaze API is very poor.

[2021-05-24 15:30] zacharytyhacz commented on #108
@yakovkhalinsky

[2021-06-05 23:19] chasenstark commented on #108
@yakovkhalinsky Please release current master to NPM. The existing NPM package still has axios 0.18 as a dependency.

[2021-06-05 23:53] odensc commented on #108
Published to npm as 1.7.0. Sorry for the delay everybody, busy year.

[2021-06-05 23:53] #108 closed

[2021-06-19 15:07] devksingh4 opened #113 "Byte length not same as content-length"
Hello,
When I am downloading arbitrary data stored in B2 bucket, the content-length header has the correct byte length of 208374 but when I call:
[code]
where resp is the await return value from `b2.downloadFileById()`, I get 378415. Even the backblaze UI shows that the size is 208.4 kB. What is the correct way to decode the data sent from the `downloadFileById()` method to get the correct-size Bu

[2021-07-16 15:53] zacharytyhacz commented on #113
What is the response's `Content-Type` ?

[2021-07-16 16:09] devksingh4 commented on #113
It is `application/octet-stream`.

[2021-09-30 07:36] dbismut commented on #32
Hi @odensc thanks for the lib. Would you be able to explain how use the lib with streams? I've seen this lib here that looks like it does the job, is this the recommended way of proceeding?

[2021-10-23 23:50] mattfrancis888 opened #114 "Error getting bucket: Error: Request failed with status code 401"
Hi,
I'm trying to set up the library. However, I am receiving
 **Error getting bucket: Error: Request failed with status code 401**

### Steps on what I did
1. Get my keyId and keyName from:

![image](https://user-images.githubusercontent.com/22691408/138574758-c4459c80-f416-4c78-88dd-bcf47fbdf84b.png)
[code]

2. Create API method:
Get bucketname  from:
![image](https://user-images.githubuserconte

[2021-10-24 00:31] mattfrancis888 commented on #114
Solved it. I was supposed to use the generated applicationKey (Mistook it as keyName) that only appeared once for applicationKey!

[2021-10-24 00:31] #114 closed

[2021-10-24 01:46] mattfranciswork0 opened #115 "How do I upload an image?"
Hey all,
I am getting ` Request failed with status code 400` from  b2.uploadFIle().

Here's what I tried to do:

Step 1: Set up how I'm going to call my route in POSTMAN. I have attached an IronMan.png in my request.

![image](https://user-images.githubusercontent.com/22691408/138576706-642bf4fd-fed4-44d0-9f71-ca0a0e5f645f.png)

Step 2: Also used multer library (https://www.npmjs.com/package/multe

[2021-10-24 23:27] #115 closed, assigned to nobody

[2021-10-25 02:07] mattfrancis888 opened #116 "How do I get the url of my uploaded image?"
Hey all,

I'm trying to upload a file to b2 and then store that uploaded file's URL in my database so I can refer to it.
As the docs said, [b2_get_upload_url](https://www.backblaze.com/b2/docs/b2_get_upload_url.html) gives an upload URL that will be used before uploading.
[code]

However, when I try to access uploadUrl, I receive:
[code]
**I also notice that  my image in my b2 uses other links suc

[2021-12-05 06:22] varundeva opened #117 "connect ECONNREFUSED 127.0.0.1:80"
Trying to upload file
testing in localhost:3000

getting error `connect ECONNREFUSED 127.0.0.1:80` in log

tried by using `axios.defaults.baseURL = "http://localhost:3000/";`
still same problem
anyone have solution?

[2021-12-07 10:58] poacher2k commented on #116
The URL returned is not to be used _before_ uploading, but _for_ uploading. Use the `uploadUrl` and the `authorizationToken` to upload your image with a `POST` request.

See https://www.backblaze.com/b2/docs/b2_upload_file.html for more details

[2021-12-11 17:57] MarcGuiselin opened #118 "New developers should migrate to the S3 Api"
## Why use the S3 api instead of this library?

- Consistently faster uploads without needing for retries/waiting (see explanation below)
- Better typescript support (none of the b2 server responses are typed)
- Simpler implementation
- Works with B2's file versioning by default (see explanation below)
- It might be a smaller overall dependency size (when tree-shaken)

## Using the S3 api

Backbla

[2021-12-12 16:24] cbess commented on #118
I mostly agree with your sentiments. I concur, using the S3 API is good for basic needs, but for more advanced usage this library is the most helpful.

[2021-12-12 16:27] cbess commented on #118
@MarcGuiselin In light of the above, for the issue to be actionable, I would change the title from `New developers should migrate to the S3 Api` to `Recommend S3 API for basic needs`.

[2021-12-13 02:44] MarcGuiselin commented on #118
Absolutely. Advanced usage of B2, including backblaze lifecycle rules, are only supported by the native B2 api.

[2022-01-07 01:14] metadaddy commented on #117
@varundeva I [answered a StackOverflow question](https://stackoverflow.com/a/70612597/33905) today along these lines. In that case the error was caused by erroneously passing the `bucketId` in place of the `uploadUrl`. If that wasn't your question, post your code here and I'd be happy to take a look.

[2022-01-07 02:13] metadaddy commented on #116
You can construct the download URL according to the mechanism documented at [b2_download_file_by_name](https://www.backblaze.com/b2/docs/b2_download_file_by_name.html):

In terms of backblaze-b2, this is simply:

    const auth = await b2.authorize();
    const downloadURL = auth.data.downloadUrl + '/file/' + bucketName + '/' + fileName;

[2022-01-10 16:52] metadaddy commented on #118
The [official Backblaze position](https://www.backblaze.com/blog/whats-the-diff-backblaze-s3-compatible-api-vs-b2-native-api/) is that

As Backblaze's Chief Developer Evangelist, I'll go further and say that, in general, you should use the S3 Compatible API as far as you can, and only use the B2 Native API for Backblaze-specific features.

[2022-01-18 07:28] varundeva commented on #117
In my case i have to upload the .pdf file.
that file already exist in pdf/myfile.pdf . i can provide the path of the file
how can i deal with it

[2022-01-18 10:43] varundeva commented on #116
Same issue i have..
i can able to upload file, i have to store download url somewhere in database

[2022-01-18 10:44] varundeva commented on #117
i can able to get the buffer of already stored file using `fs.readFileSync("pdfs/abcd.pdf")`

[2022-01-18 10:44] #117 closed

[2022-01-18 17:55] metadaddy commented on #116
@varundeva Read [my comment](https://github.com/yakovkhalinsky/backblaze-b2/issues/116#issuecomment-1007084232) immediately above yours. You don't need anything from the B2 response to create the download URL.

[2022-01-18 22:47] #116 closed

[2022-01-20 20:32] XDavidT opened #119 "Find specific file using b2.listFileNames return files not relevant"
I uploaded some files, delete some and so on, after my B2 was empty from files at all, I ask wanted to get a specific file, by file name, using the function `b2.listFileNames` and got a file that did not exists, also the name wasn't match.
And no, the name wasn't matched in any part of it, my file name is hash of text, so the hash was completely different.
How can I avoid this issue and why does i

[2022-01-30 22:25] leopucci opened #120 "LIfecicle Rules. How to set them"
Hi there!
Seems that s3 compatible api is the go for tool.
But there are some lifecycle rules that only can be set on the b2 api.
Could someone help me on how to make a createBucket command containing the lifecycle info to set the rules upon creation?
I am trying this below, but the response comes with no lifecycle set.

[code]

And I get this response:
[code]

Thanks
Pucci

[2022-01-31 13:05] leopucci commented on #120
Looking on the source, seems that this lib does not accept additional parameters to be sent.
So I found another lib to be able to set the lifecycle rules.
if anyone is trying to pragmatically change the lifecycle settings upon bucket creation.
https://github.com/nodecraft/b2-cloud-storage
https://github.com/nodecraft/b2-cloud-storage/blob/main/docs.md#b2CloudStorage+createBucket

[2022-01-31 13:05] #120 closed

[2022-10-02 04:52] EricChen1248 commented on #105
I'm not sure why you need to use it like this. DefinitelyType (the @type stuff) is purely for Typescript to fetch type definition. When you are importing, you should always import the original package, i.e.
`import B2 from "backblaze-b2"`